<header id="site-header"
        class="site-header valign-center">
    <%- partial("partials/header", public.partials._data.header) %>
</header>

<section id="schedule"
         class="section schedule">
    <%- include("partials/events", public.partials._data.events) %>
</section>

<section id="location"
         class="section location">
    <%- partial("partials/venue", public.partials._data.venue) %>
</section>

<section id="about"
         class="section about">
    <%- partial("partials/about", public.partials._data.about) %>
</section>

<section id="contribution"
         class="section contribution">
    <%- partial("partials/contribution", public.partials._data.contribution) %>
</section>

<section id="contact"
         class="section about">
    <%- partial("partials/contact", public.partials._data.contact) %>
</section>