<header id="site-header"
        class="site-header valign-center">
    <%- partial("partials/_header", public.partials._data.header) %>
</header>

<span id="schedule"
      class="anchor"></span>
<section class="section schedule">
    <%- include("partials/_events", public.partials._data.events) %>
</section>

<span id="location"
      class="anchor"></span>
<section id="location"
         class="section location">
    <%- partial("partials/_venue", public.partials._data.venue) %>
</section>

<span id="about"
      class="anchor"></span>
<section class="section about">
    <%- partial("partials/_about", public.partials._data.about) %>
</section>

<span id="contribution"
      class="anchor"></span>
<section class="section contribution">
    <%- partial("partials/_contribution", public.partials._data.contribution) %>
</section>

<span id="contact"
      class="anchor"></span>
<section class="section about">
    <%- partial("partials/_contact", public.partials._data.contact) %>
</section>