<div class="container">
    <div class="row">
        <% for(var i=0; i < talks.length; i++) { %>
            <div class="col-12">
                <div class="time">
                    <time>
                        <li class="fa fa-calendar"></li>
                        <%- talks[i].date %>
                    </time>
                    <time class="pull-right">
                        <li class="fa fa-clock-o"></li>
                        <%- talks[i].time %>
                    </time>
                </div>
                <% if (talks[i].slides) {%>
                    <div class="time">
                        <a target="_blank" href="<%- talks[i].slides %>">
                            <i class="fa fa-slideshare"></i>
                            Slides
                        </a>
                    </div>
                    <%}%>

                        <h3>
                            <%- talks[i].title %>
                        </h3>
                        <p>
                            <%- talks[i].description %>
                        </p>

            </div>

            <% for(var j=0; j < talks[i].speakers.length; j++) { %>
                <div class="row">
                    <div class="col-sm-2 col-xs-8 col-xs-offset-2 col-sm-offset-0">
                        <div class="speaker">
                            <figure>
                                <img alt="" class="img-responsive center-block" src="<%- talks[i].speakers[j].image %>">
                            </figure>
                            <ul class="social-block">
                                <% for (var p = 0; p < talks[i].speakers[j].social.length; p++) {%>
                                    <li>
                                        <a target="_blank" onclick="ga('send', 'event', 'Button', 'Click', 'Social - <%- talks[i].speakers[j].social[p].href %>');"
                                            href="<%- talks[i].speakers[j].social[p].href %>">
                                            <i class="<%- talks[i].speakers[j].social[p].icon %>"></i>
                                        </a>
                                    </li>
                                    <% } %>

                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-10 col-xs-12">
                        <h4>
                            <%- talks[i].speakers[j].name %>
                        </h4>
                        <h6>
                            <%- talks[i].speakers[j].position %>
                        </h6>
                        <p>

                            <%- talks[i].speakers[j].bio %>

                        </p>

                    </div>
                </div>
                <%  } %>
                    <%  } %>

    </div>
</div>