<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="section-title">
                <%- title %>
            </h3>

            <p>
                <%- description%>
            </p>
            <div class="row ">
                <div class="col-xs-12 col-sm-4 inside-box">
                    <h4 class="text-center">
                        <i class="<%- paperIcon %>"></i>
                        <%- paperTitle%>
                    </h4>
                    <p>
                        <%- paper%>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4 inside-box">
                    <h4 class="text-center">
                        <i class="<%- helpIcon %>"></i>
                        <%- helpTitle%>
                    </h4>
                    <p>
                        <%- help%>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <h4 class="text-center">
                        <i class="<%- sponsorIcon %>"></i>
                        <%- sponsorTitle%>
                    </h4>
                    <p>
                        <%- sponsor %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>