<div class="container">
    <div class="row">
        <div class="col-md-2">

            <img alt=""
                 class="img-responsive"
                 src="assets/images/logos/gsic.png">

        </div>
        <div class="col-md-8">

            <%- contact.name %>
                <br>
                <%- contact.address %>
                    <br>
                    <%- contact.phone %>
                        <br>
                        <%- contact.email %>
        </div>

        <div class="col-md-2">
            <ul class="social-block">
                <% for (var j = 0; j < social.length; j++) {%>
                    <li>
                        <a target="_blank"
                           href="<%= social[j].href %>">
                            <i class="<%= social[j].icon %>"></i>
                        </a>
                    </li>
                    <% } %>

            </ul>
        </div>
    </div>
</div>